html {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

.list>li {
  display: flex;
  align-items: center;
}

.list>li>a {
  margin-right: 10px;
}

.picture {
  width: 30px;
}

.picture>img {
  width: 100%;
  height: auto;
}

/* ------------------
  BUTTON
-------------------*/
.requestBtn,
.modalBtn {
  display: inline-block;
  padding: 5px 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.requestBtn:hover,
.modalBtn:hover {
  opacity: 0.8;
}

.modalBtn {
  margin-left: 20px;
}

/* ------------------
  OVERLAY
-------------------*/
.overlay {
  z-index: 99;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  animation: overlayShow .3s linear 0s;
}
.overlay.js-show {
  display: block;
}

/* ------------------
  MODAL
-------------------*/
.modal__window {
  z-index: 100;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  animation: modalShow .3s linear 0s;
}

.modal__window.js-show {
  display: block;
}

.modal__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.modal__input {
  margin-bottom: 10px;
}

.modal__closeBtn {
  border-color: #808080;
  cursor: pointer;
  border-radius: 50%;
}

.modal__closeBtn__line {
  
}
/* ------------------
  ANIMATION
-------------------*/
@keyframes overlayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .8;
  }
}
@keyframes modalShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}