.list > li {
  display: flex;
  align-items: center;
}
.list > li > a {
  margin-right: 10px;
}

.picture {
  width: 30px;
}
.picture > img {
  width: 100%;
  height: auto;
}

.requestBtn {
  background-color: #f5f5f5;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.requestBtn:hover {
  opacity: .8;
}